automated_daily_news_summarizer.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        -176
      ],
      "id": "c76ab5ef-f00b-424a-9eb2-8192c4e536ed",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "597eebfd-3d93-4827-b794-3c9ed14b46f9",
              "name": "urls",
              "value": "[\"https://feeds.bbci.co.uk/news/rss.xml\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        -176
      ],
      "id": "6f1514e7-1f19-4101-8b36-6b9ec711420e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -288,
        -176
      ],
      "id": "9ecdb1d4-b87c-4300-8674-9ce4c849441f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.urls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -96,
        -176
      ],
      "id": "01c81e40-29c6-4ac8-acfa-d26161e9a782",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        96,
        -176
      ],
      "id": "395cf222-d934-4ba5-9902-112f580ad531",
      "name": "Sort"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        272,
        -176
      ],
      "id": "ed98c1ad-43b4-46c4-843a-5922491ba73c",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the following article into a single clear paragraph.\nAt the end of the paragraph, add a line that says:\n\"For more details click here 👉 {{ $json.link }}\"\n\nArticle title: {{ $json.title }}\nArticle content: {{ $json.content }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        256,
        32
      ],
      "id": "f58e7ac0-0277-4a1f-ab8a-f0d91c5b5806",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        192,
        176
      ],
      "id": "95cb4ac2-667a-4700-90fc-57439b7c6636",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "fVoacYdRQsQctkMl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        576,
        -96
      ],
      "id": "2d3c3413-efac-4b55-a653-987b35b0df77",
      "name": "Discord",
      "webhookId": "60f122db-5ecf-4836-bf5f-722c4da27888",
      "credentials": {
        "discordWebhookApi": {
          "id": "9M04qKGd7JR4wIWK",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c9af51a1-9dd7-4e2a-8e02-f0cd5c878205",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d60eef591328e7bdbb5e6c350cb848842ecaebd571a24e2105cc794f82497a05"
  },
  "nodeGroups": [],
  "id": "aFxdOTeDpBSdLI1m",
  "tags": []
}